:root {
    --bg: #F7F5FF;
    --bgcolor: #ECE9FE;
    --inputbg: #F7F5FF;
    --purpule: #4D1D97;
    --text: #000000;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Albert Sans", sans-serif;
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background-color: var(--bg);
}

.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 400px;
    background-color: var(--bgcolor);
    border: 1px solid var(--inputbg);
    width: 400px;
    height: 100%;
    padding-bottom: 1rem;
    border-radius: 8px;
    margin-top: 2pt;
    overflow: hidden;
    box-shadow: 0px 10px 10px rgba(0, 64, 255, 0.323);
}

.container .header {
    display: flex;
    flex-direction: column;
    float: left;
    margin-top: 15px;
    margin-bottom: 20px;
    align-items: center;
    justify-content: center;
    gap: 2pt;
    border-bottom: 1px solid #8078c7;
    width: 100%;
    padding: 8px;
    box-shadow: 0px 4px 0px 0px rgba(88, 44, 219, 0.141);
}

.container .header i,
h2 {
    color: var(--purpule);
}

.container .header label {
    font-size: 0.8rem;
    color: var(--purpule);
}

#formhead {
    background-color: var(--purpule);
    color: #fff;
    padding: 0 4px;
    position: relative;
    overflow: hidden;
    font-size: 1rem;
    box-shadow: 0px 4px 0px 0px rgba(137, 128, 128, 0.442);
}

.container .header h2 {
    display: flex;
    float: left;
    overflow: hidden;
    align-items: center;
    justify-content: center;
    padding: 2px 10px;
}

.container .form {
    display: flex;
    align-items: center;
    flex-direction: column;
    gap: 1rem;
}

form {
    display: flex;
    align-items: left;
    flex-direction: column;
    margin: 1rem;
    gap: 0.4rem;
    height: 100%;
    width: 90%;
}

.input-box {
    display: flex;
    flex-direction: column;
    align-items: left;
    gap: 0.4rem;
    color: var(--purpule);
    border: 1px solid #0d1dff24;
    padding: 0.6rem;
    border-radius: 6px;
    width: 100%;
}

.input-box label {
    font-size: 1rem;
    font-weight: bold;
}

.input-gender {
    display: flex;
    float: left;
    gap: 4pt;
    color: var(--purpule);
    border: 1px solid #0d1dff24;
    padding: 0.8rem;

}

.input-gender label {
    margin-right: 1rem;
    display: flex;
    float: left;
    gap: 2pt;
    cursor: pointer;
}

.gender {
    font-weight: bold;
}

.input-box input {
    padding: 8px 12px;
    background-color: var(--inputbg);
    border: 1px solid var(--purpule);
    outline: none;
}

.file-input {
    padding: 8px 12px;
    border: 2px solid #4D1D97;
    background-color: #f9f9f9;
    cursor: pointer;
}

input[type="number"] {
  -moz-appearance: textfield;
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  -webkit-appearance: none;
  margin: 0;
}


.buttons {
    display: flex;
    float: left;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    margin-top: 0.8rem;
}

button {
    padding: 8px 12px;
    cursor: pointer;
    border: none;
    background-color: var(--bgcolor);
    border-radius: 6px;
}

#cancelBtn {
    border: 1px solid var(--purpule);
}

#submitBtn {
    background-color: #8b67c2;
    color: #fff;
    cursor: pointer;
    text-align: center;
    transition: all 0.2s ease;
}

#submitBtn:hover {
    background-color: var(--purpule);
}

.required {
    color: rgb(121, 90, 213);
    font-size: medium;
}


.footer {
    display: flex;
    flex-direction: column;
    float: left;
    align-items: center;
    padding: 4pt;
    justify-content: center;
    margin-top: -1rem;
    margin-bottom: 4px;
}

.footer p {
    font-size: 12px;
}

.footer a {
    font-size: 12px;
    font-weight: bold;
    cursor: pointer;
    background-color: var(--purpule);
    color: #fff;
    text-decoration: none;
    padding: 0px 4px;
    border-radius: 8px;
}

.footer span {
    font-size: 10px;
    margin-top: 0.4rem;
    color: var(--purpule);
    padding: 4px;
    display: flex;
    float: left;
    align-items: center;
    justify-content: center;
    gap: 2px;
}

.footer span img {
    height: 8px;
    width: auto;
    cursor: none;
}

